<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Jasmine Spec Runner</title>
		<% css.forEach(function(style){ %>
			<link rel="stylesheet" type="text/css" href="<%= style %>">
		<% }) %>
		<% with (scripts) { %>
			<% [].concat(jasmine, vendor, helpers).forEach(function(script){ %>
				<script src="<%= script %>"></script>
			<% }) %>
		<% }; %>
		
		<% var istanbul = require('istanbul'); %>
		<% var instrumenter = new istanbul.Instrumenter(); %>
		<% with (scripts) { %>
			<% [].concat(src).forEach(function(script){ %>
				<script>
					<%= instrumenter.instrumentSync(grunt.file.read(script), script) %>
				</script>
			<% }) %>
		<% }; %>
		
		<% with (scripts) { %>
			<% [].concat(specs).forEach(function(script){ %>
				<script src="<%= script %>"></script>
			<% }) %>
		<% }; %>
		
		<script>
			var reporter = new jasmine.Reporter();
			reporter.reportRunnerResults = function (runner) {
				if (window.__coverage__) {
					// phantom is exposed by jasmine's PhantomReporter
					phantom.sendMessage('jasmine.coverage', __coverage__);
				}
			};
			jasmine.getEnv().addReporter(reporter);
		</script>
		
		<%
			phantomjs.on('jasmine.coverage', function (coverage) {
				global.__coverage__ = coverage;
			});
		%>
		
		<% with (scripts) { %>
			<% [].concat(reporters, start).forEach(function(script){ %>
				<script src="<%= script %>"></script>
			<% }) %>
		<% }; %>
	</head>
	<body>
	</body>
</html>
